.git
.gitignore
.gitattributes
.dockerignore
.vscode
.idea
.venv
**/*.env
.pre-commit-config.yaml
.make-release-support
.run

**/__pycache__
doc/
logs/
**/out/
src/tmp/
test/
cfg/config.yml
cfg/conda.dev.yml

configs/
delta-tables/
hive-metastore/
hive-placeholder/
jars/
query-results/

Dockerfile.mamba
Makefile
docker-compose.yml
